article {
  background-color: #1b2238;
  padding: 24px;
  border-radius: 16px;
  margin-top: 24px;

}

article h3 {
  margin-top: 0;
}

article a {
  display: inline-block;
  margin-top: 12px;
  color: white;
  background-color: #437cf5;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
}

/*
a:visited {
  color: rgb(236, 165, 131);
}
*/

article a:hover {
  background-color: rgb(236, 165, 131);
}

.link-list a {
  display: inline-block;
  color: white;
  background-color: #437cf5;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.link-list a:hover {
  background-color: rgb(236, 165, 131);
}

.link-list {
  display: flex;
  /*横ならび*/
  gap: 12px;
  /*要素同士の隙間*/
  padding-left: 0;
  /*左の隙間をなくす*/
  list-style: none;
  /*箇条書きリストの点をなくす*/
}